<div class="posteditor">
    <label for="posteditor__title">
        <h1 class="posteditor__heading">Create a new thread</h1>
    </label>

    <input
        type="text"
        name="title"
        class="posteditor__title"
        placeholder="Enter a title..."
        form="submit__editor"
    />

    <input
        type="hidden"
        name="tags"
        form="submit__editor"
    />

    <input
        type="hidden"
        name="games"
        form="submit__editor"
    />

    <div style="display: flex; gap: 10px;">
        {{> tagsearch name="games" label="Add games" placeholder="Search for a game..." class="game__search" id="submit__games"}}
        {{> tagsearch name="tags" label="Add tags" placeholder="Add a tag..." class="tag__search" id="submit__tags"}}
    </div>

    {{> editor
        id="submit__editor"
        action="/submission"
        method="post"}}
</div>            

<script type="module" src="/js/submission.js">
    
</script>