<section class="forum__threads">
    <hgroup class="forum__thread">
        {{> threadlink this.thread}}
    </hgroup>

    <article class="article">
        {{{markdown this.thread.content}}} <!-- TODO: Markdown parsing -->
    </article>

    <section class="forum__comments">
        <hgroup class="forum__divider">
            <h2 style="margin: 0px;">Comments ({{count comments}})</h2>
        
            <a class="button button--light" data-toggle="#comment-editor">
                <span class="material-symbols-outlined">add_circle</span>
                <ruby>Comment<rt>コメントする</rt></ruby>
            </a>
        </hgroup>

        {{> editor id="comment-editor" hidden=true parent=this.thread._id}}

        {{#each comments}}
        {{> comment this}}
        {{/each}}
    </section>
</section>


{{> sidebar}}