/* Post creation page */

.posteditor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--kinkan-gray);
    border-radius: 10px;
    background-color: var(--light);
    padding: 20px;
}

.posteditor__title {
    flex-grow: 999;
    border: 1px solid var(--kinkan-gray);
    border-radius: 10px;
    padding: 12px;
    width: auto;
    font-size: 1.2rem;
}

.posteditor__heading {
    margin: 0px;
    font-size: 1.5rem;
}

.posteditor__tags {
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: auto;
}
