<form class="advsearch {{#unless show_search}}hidden{{/unless}}"  id="advsearch">
    <div class="advsearch__component">
        <label class="advsearch__label" for="start_date">
            Date range
        </label>
        <input
            type="date"
            name="start_date"
            class="advsearch__input"
        />
        <label class="advsearch__label" for="end_date">to</label>
        <input
            type="date"
            name="end_date"
            class="advsearch__input"
        />
    </div>

    <div class="advsearch__component">
        <label class="advsearch__label" for="sort">Sort by</label>
        <select class="advsearch__input" name="sort">
            <option value="0">Newest first</option>
            <option value="1">Oldest first</option>
            <option value="2">Most popular first</option>
            <option value="3">Least popular first</option>
        </select>
    </div>

    <div class="advsearch__component">
        <label class="advsearch__label" for="author_name">Authors</label>
        <input
            type="text"
            name="author_name"
            class="advsearch__input"
            placeholder="Enter username..."
        />
    </div>

    {{> tagsearch tags="" name="include_game" label="Include games" placeholder="Search for a game..." class="game__search"}}

    {{> tagsearch games="" name="include_tag" label="Include tags" placeholder="Add a tag..." class="tag__search"}}

    <button type="reset" class="button button--light button--light--small">
        Reset
    </button>
</form>

{{! TODO: Move elsewhere idk }}
<script type="module" src="/js/search_games.js"></script>