<form class="advsearch hidden" id="advsearch">
    <div class="advsearch__component">
        <label class="advsearch__label" for="start_date">
            Date range
        </label>
        <input
            type="date"
            name="start_date"
            class="advsearch__input"
        />
        <label class="advsearch__label" for="end_date">to</label>
        <input
            type="date"
            name="end_date"
            class="advsearch__input"
        />
    </div>

    <div class="advsearch__component">
        <label class="advsearch__label" for="sort">Sort by</label>
        <select class="advsearch__input" name="sort">
            <option>Newest first</option>
            <option>Oldest first</option>
            <option>Most popular first</option>
            <option>Least popular first</option>
        </select>
    </div>

    <div class="advsearch__component">
        <label class="advsearch__label" for="author_name">Authors</label>
        <input
            type="text"
            name="author_name"
            class="advsearch__input"
            placeholder="Enter username..."
        />
    </div>

    <button type="reset" class="button button--light button--light--small">
        Reset
    </button>
</form>
