<footer class="footer">
    <img src="/img/logo-dark.png" class="footer__logo" />
    <div class="footer__column">
        <p class="footer__text"><ruby>About<rt>アバウト</rt></ruby></p>
        <p class="footer__text"><ruby>Contact<rt>コンタクト</rt></ruby></p>
        <p class="footer__text"><ruby>Privacy policy<rt>プライバシーポリシー</rt></ruby></p>
    </div>
    <div class="footer__column">
        <p class="footer__text footer__blurb"><ruby>
            A galaxy hatches and fully blooms.<rt>孵化/開花する銀河</rt>
        </ruby></p>
        <p class="footer__text footer__blurb">
            &copy; 2025. This site is not affiliated with nor is it endorsed by the developers and publishers of
            any of the games.
        </p>
    </div>
</footer>