{{! footer.handlebars
    Partial for displaying the footer
}}

<footer class="footer">
    <img src="/img/logo-dark.png" class="footer__logo" />
    <div class="footer__column">
        <a class="footer__text" href="/#about"><ruby>About<rt>アバウト</rt></ruby></a>
        <a class="footer__text" href="/#contact"><ruby>Contact<rt>コンタクト</rt></ruby></a>
        <a class="footer__text" href="/privacy"><ruby>Privacy policy<rt>プライバシーポリシー</rt></ruby></a>
    </div>
    <div class="footer__column">
        <p class="footer__text footer__blurb"><ruby>
            A galaxy hatches and fully blooms.<rt>孵化/開花する銀河</rt>
        </ruby></p>
        <p class="footer__text footer__blurb">
            &copy; 2025. This site is not affiliated with nor is it endorsed by the developers and publishers of
            any of the games.
        </p>
        <p class="footer__text" data-toggle="#references" style="text-decoration: underline; cursor: pointer">Show image resource references</p>
        <ul class="footer__text footer__blurb hidden" id="references">
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Aniplex Inc. (2015). Fate/Grand Order (English) Icon. Google Play. https://play.google.com/store/apps/details?id=com.aniplex.fategrandorder.en</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Aniplex Inc. (2015). Fate/Grand Order 3 Billion Revenue. https://images.ctfassets.net/vfkpgemp7ek3/2004891259/a6972bb9d4019e1f2e939592a3b0e596/fate-grand-order-revenue-three-billion.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Aniplex Inc. (2015). Fate/Grand Order Logo. Fate/Grand Order JP. https://www.fate-go.jp/images/pc_spec_logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bandai Namco Entertainment Inc. (2024). Gakuen iDOLM@STER Icon. Google Play. https://play.google.com/store/apps/details?id=com.bandainamcoent.idolmaster_gakuen</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bandai Namco Entertainment Inc. (2024). Gakuen iDOLM@STER. https://gakuen.idolmaster-official.jp/</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bandai Namco Entertainment Inc.(2025). General CSPRT 3-0045. https://res.cloudinary.com/dezghxeg3/image/upload/v2/gkms/img_general_csprt-3-0045_full.webp</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bluepoch Co.,Ltd. (2023). Reverse: 1999 Icon. Google Play. https://img.tapimg.net/market/images/a1d6deaac0f2011e1bb691d5246d3554.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bluepoch Co.,Ltd. (2023). Reverse: 1999 Logo. Reverse: 1999 Official.https://re1999.bluepoch.com/en/</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Bluepoch Co.,Ltd. (2023). the beat of life, the dance of death. Danbooru. https://images.steamusercontent.com/ugc/2056511339681595688/B5DA5FEE6658D05B9C97818284BC5A574F75C7BA/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Darkwinter Software Co., Ltd. (2016). Girls' Frontline graphic. Girls' Frontline Official. https://gfus-cdn.sunborngame.com/uswebstatic/public/resource/section-3/graphic0.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Darkwinter Software Co., Ltd. (2016). Girls' Frontline icon. Google Play. https://play-lh.googleusercontent.com/jvEKKqz_Kv-XXjrnMgWZ8dbGNIRGns_rdciBpGFk94hsdNoq42_HSu8llcRUrz2Dow</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Darkwinter Software Co., Ltd. (2016). Girls' Frontline logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/en/6/60/Girlsfrontline.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Devsisters Corporation (2023). Cookie Run icon. Google Play. https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVbAqgeV_uwe9KeMG2cQ849H8OTJ30UkNwAWtRHzJtsmJoat1rRfU6_Nk5NKvRRBCvj_fs</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Devsisters Corporation (2023). Cookie Run logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/en/7/70/Cookie_Run_Kingdom.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Devsisters Corporation (2023). Cookie Run Poster. Devsisters Official. https://www.devsisters.com/image/games/games-cookierun-poster.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">HK KURO GAMES LIMITED (2024). Wuthering Waves Banner. YouTube. https://i.ytimg.com/vi/QnDsqEga1i4/maxresdefault.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">HK KURO GAMES LIMITED (2024). Wuthering Waves Icon. Google Play. https://play-lh.googleusercontent.com/ameFGPYH-qhOSxdsSA_fA54I4Ch-eO8y7Pj4x6W6ejQkvKbhVjCehKlPerBY9X2L8ek</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">HK KURO GAMES LIMITED (2024). Wuthering Waves logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/commons/5/5d/Wuthering_Waves_logo.svg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">KayAnimate (2023). HoloCure - Save the Fans! Banner. Steam. https://gaming-cdn.com/images/products/14862/orig/holocure-save-the-fans-pc-game-steam-cover.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">KayAnimate (2023). HoloCure - Save the Fans! Icon. Steam. https://cdn2.steamgriddb.com/icon_thumb/b2c1a4c8e4f9c3f8efe19a903a005149.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">KayAnimate (2023). HoloCure - Save the Fans! Logo. HoloCure Wiki | Fandom. https://static.wikia.nocookie.net/holocure/images/5/51/HoloCureLogo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Plarium Global Ltd (2018). Raid: Shadow Legends graphic. Plarium Official. https://plarium.com/wp-content/uploads/2024/11/5-3.webp</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Plarium Global Ltd (2018). Raid: Shadow Legends icon. Steam. https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTeujrQpS_6SpsZOWwZhWdS5fqBp8i5jriVO5gZuvZD3Sfxf12-5murFfsGiY7BPxAxIUtcwA</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Plarium Global Ltd (2018). Raid: Shadow Legends logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/en/a/a3/Raid_Shadow_Legends_Logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">ProjectMoon (2023). Limbus Company Icon. Limbus Company Wiki | Fandom. https://static.wikia.nocookie.net/limbuscompany/images/e/e6/Site-logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">ProjectMoon (2023). Limbus Company Logo. Creative Uncut - Video Game Gallery. https://img1.picmix.com/output/stamp/normal/9/0/7/7/2537709_dfeae.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">ProjectMoon (2024). Canto 4 Ending. Tumblr. https://64.media.tumblr.com/4a8e2363a8073f26062cd3aecc8f20f9/0e3b640384eb6701-54/s2048x3072/10b3a35db6b10d8423d245ab2500bcad6a10bb94.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">SEGA CORPORATION (2020). Project Sekai logo. Wikimedia Commons. https://static.wikia.nocookie.net/projectsekai/images/c/c9/Logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">SEGA CORPORATION (2020). Project Sekai Main Image. Sekaipedia. https://static.wikia.nocookie.net/projectsekai/images/b/bf/Main-image.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">SEGA CORPORATION (2020). プロジェクトセカイ カラフルステージ！ feat. 初音ミク icon. Google Play. https://play-lh.googleusercontent.com/qv39ayUgY-nTSlc9ta3jZv6cjEzqoRbQ9koV5H65Nzlvj10D198mDtmDN6--PbbKTDI</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">URO TECHNOLOGY (HONG KONG) CO., LIMITED (2021). Across the Ruined Sea Story Banner. Wikitides. https://static.wikitide.net/pgrwiki/4/42/20.3-Across-the-Ruined-Sea-story-banner.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">URO TECHNOLOGY (HONG KONG) CO., LIMITED (2021). Punishing: Gray Raven icon. Google Play. https://play-lh.googleusercontent.com/EwolwmpxNBLGQgDW4wRJy1TkMjFE5-7sE93I0gpLHSc49oJy4TON8AGHBaHdFIA8nRU</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">URO TECHNOLOGY (HONG KONG) CO., LIMITED (2021). Punishing: Gray Raven logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/en/b/b0/Punishing_Gray_Raven_logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited (2019). Arknights 5th Anniversary Assets Banner. Google Play. https://webusstatic.yo-star.com/arknights-us/ark-us-5th-collect-h5/main/h5/assets/banner-3c38af04.jpg</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited (2019). Arknights Icon. Google Play. https://play.google.com/store/apps/details?id=com.YoStarEN.Arknights&hl=en</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited (2019). Arknights Logo. Arknights Official. https://webusstatic.yo-star.com/ark_us_web/pc/img/logo02.924e2f2a.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited. (2017). Azur Lane icon. Play Store. https://play-lh.googleusercontent.com/Xvzm9AdC2rEpP_gcwoJWBD7BsDClyOhRZ5AmIyhZDKRRCB2k1hdovUqpLgEIcx5b1YY</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited. (2017). Azur Lane logo. Wikimedia Commons. https://upload.wikimedia.org/wikipedia/en/c/c6/Azur_Lane_English_Release_Logo.png</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar Limited. (2023). Azur Lane 6th Anniversary. X. https://pbs.twimg.com/media/GQWmZVYbYAASZ5h?format=jpg&name=4096x4096</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar, Inc. (2021). Blue Archive Logo. Blue Archive Official. https://bluearchive.nexon.com/home</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar, Inc. (2021). ブルーアーカイブ Icon. Google Play. https://play.google.com/store/apps/details?id=com.YostarJP.BlueArchive</li>
            <li class="footer__text footer__blurb" style="font-size: 0.7rem;">Yostar, Inc. (2024). Kazusa Recollect Blue Archive. NicheGamer. https://nichegamer.com/wp-content/uploads/2023/02/kazusa-recollect-blue-archive-02-28-2023.jpg</li>
        </ul>
    </div>
</footer>