<div class="forum__ads">
    <div class="forum__ads-track">
        {{#each images}}
            <img src="{{link}}" class="forum__ad"/>
        {{/each}}
        {{#each images}}
            <img src="{{link}}" class="forum__ad"/>
        {{/each}}
    </div>
</div>