<form class="search" action="" method="GET">
    <input type="text" class="search__box" name="search" placeholder="Search threads..." />

    <a class="button button--light search__button" data-toggle="#advsearch">
        <span class="material-symbols-outlined">tune</span>
    </a>

    <button type="submit" class="button button--light search__button search__button--end">
        <span class="material-symbols-outlined">search</span>
    </button>
</form>
