{{! sidebar.handlebars 
    Partial for the forum sidebar
}}

<nav class="sidebar">
    {{! A bar that's on the side}}
    <image src="https://i.redd.it/44lg2zcxvhm51.jpg" width="300px"></image>
</nav>
