{{! sidebar.handlebars 
    Partial for the forum sidebar
}}

<nav class="sidebar">
    <h2 class="sidebar__header">Browse posts by game</h2>
    {{> tag_search data-type="games"}}
    {{! TODO: Use the tags partial for this # NOTE I DID NOT USE TAG PARTIAL, we aint templating}}
    <hr class="sidebar__rule" />
    <h2 class="sidebar__header">Browse posts by tag</h2>
    {{> tag_search data-type="tags"}}
    <hr class="sidebar__rule" />
    <h2 class="sidebar__header">Exclude tags</h2>
    {{> tag_search data-type="exclude"}}
    <br />
</nav>

<script src="js/tag_search.js"></script>