<nav class="sidebar">
    <h2 class="sidebar__header">Browse posts by game</h2>
    <div class="tags">
        <div class="tags__tag tags__tag--game">Gakuen iDOLM@STER</div>
        <div class="tags__tag tags__tag--game">Blue Archive</div>
        <div class="tags__tag tags__tag--game">Fate/Grand Order</div>
        <div class="tags__tag tags__tag--game">Arknights</div>
    </div>
    <input type="text" class="sidebar__search" placeholder="Add tags..."/>
    <hr class="sidebar__rule" />
    <h2 class="sidebar__header">Browse posts by tag</h2>
    <div class="tags">
        <div class="tags__tag">News</div>
        <div class="tags__tag">Discussion</div>
        <div class="tags__tag">Fanart</div>
        <div class="tags__tag">Game guide</div>
        <div class="tags__tag">Help request</div>
        <div class="tags__tag">Humor</div>
        <div class="tags__tag">NSFW</div>
    </div>
    <input type="text" class="sidebar__search" placeholder="Add tags..."/>
    <hr class="sidebar__rule" />
    <h2 class="sidebar__header">Exclude tags</h2>
    <div class="tags">
        <p class="thread__detail">You have no excluded tags.</p>
    </div>
    <input type="text" class="sidebar__search" placeholder="Add tags..."/>
    <br />
</nav>