{{! threadlist.handlebars
    Partial for rendering a list of threads (e.g. in the forum homepage)

    @param threads - A list of thread documents to render

    @note This partial accepts an array of thread documents from the MongoDB database. Unused parameters are simply ignored.
}}

<ul class="forum__threads">
    {{#each threads}} {{! added an id per forum thread, thread.handlebars also has this dw}}
    <li class="forum__thread" id="{{this._id}}" >  
        {{> threadlink this clickable=true user=../user}}
    </li>
    {{/each}}
    {{#if show_breadcrumbs}}
    {{> breadcrumbs}}
    {{/if}}
</ul>