.advanced-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
}

.search-component {
  display: flex;
  gap: 5px;
  width: auto;
  flex-grow: 1;
}

.search-component > :first-child {
  border-radius: 10px 0px 0px 10px;
}

.search-component > :last-child {
  border-radius: 0px 10px 10px 0px;
}
.adv-search-input,
.component-label {
  border: 1px solid var(--glass-gray);
  background-color: var(--light);
  color: var(--dark);
  padding: 12px;
  font-size: 0.8rem;
  width: auto;
}

.adv-search-input {
  flex-grow: 1;
}

.component-label {
  font-weight: 700;
  font-size: 1rem;
}
