.breadcrumbs {
    display: flex;
    gap: 5px;
}

.breadcrumbs__button {
    align-content: center;
    border-radius: 0px;
    width: 20px;
    font-size: 0.8rem;
}

.breadcrumbs__next > *,
.breadcrumbs__prev > * {
    font-size: 1.1rem;
}

.breadcrumbs__prev {
    border-radius: 10px 0px 0px 10px;
}

.breadcrumbs__next {
    border-radius: 0px 10px 10px 0px;
}
