/* "Cards" in the homepage */

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;
    padding: 40px max(5%, 40px) 40px max(5%, 40px);
    color: var(--light);
}

.card__content {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 20px;
}

.card__heading {
    margin: 10px;
    font-weight: 500;
    font-size: 2.5rem;
}

.card__blurb {
    margin: 10px;
    font-size: 1.1rem;
}

.card__buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Card backgrounds */
.card--home {
    background: linear-gradient(
            var(--glass-kinkan-dark-mint),
            var(--glass-kinkan-dark-pink)
        ),
        url("/img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
}

.card--register {
    background: linear-gradient(
            var(--glass-dark),
            var(--glass-kinkan-dark-mint)
        ),
        url("/img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.card--signin {
    background: linear-gradient(
            var(--glass-dark),
            var(--glass-kinkan-dark-pink)
        ),
        url("/img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.card--privacy {
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
            var(--glass-dark),
            var(--glass-kinkan-dark-mint)
        ),
        url("/img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.card--about {
    justify-content: center;
    background-color: var(--dark);
}

.card__sprite {
    align-self: flex-end;
    z-index: 1;
    margin-top: -10%;
    margin-bottom: -40px;
    max-height: 400px;
}

.card__logo {
    width: 70%;
    min-width: 300px;
    max-width: 400px;
}

.card__logo--small {
    max-width: 300px;
}

.card__horizontal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.card__vertical-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card__pfp {
    border: 1px solid var(--kinkan-gray);
    border-radius: 60px;
    width: 120px;
    height: 120px;
}

.card__vertical-list > .article__link {
    color: var(--light);
}
