.navbar--home {
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: unset;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;
    padding: 40px max(40px, 5%) 40px max(40px, 5%);
    width: 100%;
    color: var(--dark);
}

.navbar--home__sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 5px;
    margin: 0px;
}

.navbar--home > .button {
    border-radius: 10px;
}

.navbar--home > :not(.hidden) ~ * {
    border-radius: 0px 10px 10px 0px;
}

.navbar--home__sub > :first-child {
    border-radius: 10px 0px 0px 10px;
}
