.profile {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--glass-gray);
    border-radius: 10px;
    background-color: var(--light);
    overflow: hidden;
}

.profile__banner {
    border: 0px;
    background-position: center;
    background-attachment: scroll;
    height: 200px;
    object-fit: cover;
}

.profile__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.profile__horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.profile__pfp {
    margin-top: -80px;
    border: 10px solid var(--light);
    border-radius: 100px;
    height: 100px;
}

.profile__text {
    margin: 0px;
}

/* Edit profile */

.profile__bigbanner {
    border: 0px;
    background-position: center;
    background-attachment: scroll;
    height: 300px;
    object-fit: cover;
}

.profile__bigpfp {
    margin-top: -130px;
    border: 10px solid var(--light);
    border-radius: 10px;
    height: 200px;
}

.profile__inputbox {
    flex: 1;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    text-align: center;
    padding: 10px;
    color: var(--light);
    font-size: 1.1rem;
}

.profile__largerbox {
    flex: 1;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    text-align: center;
    padding: 10px;
    color: var(--light);
    font-size: 1.1rem;
    width: 40rem;
}

.profile__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile__edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.profile__pfp-edit {
    margin-top: -70px;
    margin-right: -150px;
}

.profile__bg-edit {
    margin-top: -60px;
    margin-left: 15px;
}

.profile__bg-cancel {
    margin-top: -47px;
    margin-left: 70px;
}