.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: top;
    gap: 10px;
    border: 1px solid var(--glass-gray);
    border-radius: 10px;
    background-color: var(--light);
    padding: 10px;
    color: var(--dark);
}

.sidebar__rule {
    border: 1px solid var(--glass-gray);
    width: 100%;
}

.sidebar__header {
    margin: 0px;
    font-size: 1rem;
}

.sidebar__tags {
    display: flex;
}

.sidebar__text {
    font-size: 0.8rem;
}
