<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <link rel="stylesheet" type="text/css" href="/css/master.css" />
        <link rel="icon" type="image/x-icon" href="/img/favicon.png">

        <script src="/js/toggle.js"></script>
        <script src="/js/editor.js"></script>
        <!-- TODO: Okay to import here? -->
        <script src="https://cdn.jsdelivr.net/npm/markdown-it@14.1.0/dist/markdown-it.min.js "></script>

        <title>{{title}} | Forum - Shinosawa Laboratory</title>
    </head>

    <body class="bg-rainbow">
        <div class="forum">
            <header class="forum__header">
                <a href="/threads">
                    <img src="/img/logo-light.png" class="forum__logo"/>
                </a>
                <div class="forum__ads">
                    <div class="forum__ads-track">
                        <img src="/img/ad.webp" class="forum__ad"/>
                        <img src="/img/ad2.jpg" class="forum__ad"/>
                        <img src="/img/ad3.png" class="forum__ad"/>
                        <img src="/img/ad4.jpg" class="forum__ad"/>
                        <img src="/img/ad.webp" class="forum__ad"/>
                        <img src="/img/ad2.jpg" class="forum__ad"/>
                        <img src="/img/ad3.png" class="forum__ad"/>
                        <img src="/img/ad4.jpg" class="forum__ad"/>
                    </div>
                </div>
            </header>

            <nav class="navbar">
                <a class="button button--light" href="/submission.html">
                    <span class="material-symbols-outlined">add_circle</span>
                    <ruby>Post thread<rt>ポストする</rt></ruby>
                </a>
                {{> search}}
                <a class="button button--light" href="/profile">
                    <img src="/img/pfp.png" class="navbar__icon"/>
                    <ruby>Profile<rt>プロフィール</rt></ruby>
                </a>
            </nav>
            {{> advsearch}}
            
            {{{body}}}
        </div>

        {{> footer}}
    </body>
</html>

<script src="/js/body_renderer.js"></script>
<script src="/js/vote.js"></script>
<script src="/js/vote_comment.js"></script>
