<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/master.css" />
        <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
        <title>Home | Shinosawa Laboratory</title>
    </head>
    <body>
        {{{body}}}
    </body>
    {{> footer }}
</html>
